
@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts";

$vino: #280004;
$gris: #383838;
$blanco: #F6EBE9;
$turquesa: #16857A;
$amarilloclaro: #F6FEAA;

$text-color: $gris;
$title-color: $vino;
$font-size-base: 16px;

body {
  background-color: $blanco;
}
.navbar {
  background-color: $vino;
}
.navbar-nav{
  li {
    a{
    color: $amarilloclaro;
    }
  }
}

.navbar-default .navbar-nav > li.verde > a  {
  color: $amarilloclaro;
  cursor: default;
}

.navbar-default .navbar-nav > li.blanco > a  {
  color: $blanco;
}

.navbar-brand.turquesa {
  color: $turquesa;
}

#wrap {
  min-height: 50%;

}

#main {
  overflow:auto;
  padding-bottom:300px; /* this needs to be bigger than footer height*/
  width: 100%
}

  footer {

  .navbar.navbar-default{
    margin: 0;
    position: absolute;
    width: 100%;
    } 
  }

.time{
  font-style: italic;
}