// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$vino: #280004;
$gris: #383838;
$blanco: #F6EBE9;
$turquesa: #16857A;
$amarilloclaro: #F6FEAA;
$amarillooscuro: #F9FEC8;
$coral: #ff7f50;

article {
  background-color: $amarilloclaro;
  padding: 30px;
  margin: 30px;
  border-radius: 15px;
  .title{
    text-align: center;
    color: $turquesa;
    margin-top: 0;
  }
  p{
    text-align: justify;
    color: $gris;
  }
  .ver{
    color: $turquesa;

  }
}
.glyphicon-pushpin{
  font-size: 20px;
  color: $vino;
}

.btn-add,
.btn-add:focus,
.btn-add:active {
  color: $amarilloclaro;
  background-color: $turquesa;
}

 .btn-add:hover {
  color: $amarilloclaro;
  background-color: $vino ; 
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  width: 100px;
}

.title {
  color: $turquesa;
}

a {
  &:hover{
  text-decoration: none;
  color: $vino;
  }
}



.text-center {
  label {
    color: $turquesa;
    margin-top: 20px;
  }

  input[type="submit"] {
    width: 130px;
    margin-top: 25px;
  }

  input[type="email"], input[type="password"]  {
  width: 230px;
  }
}


.text-center.app-form{
  input {
  width: 430px;
  }
  input[type="submit"] {
    width: 130px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

.icon {
  background-color: transparent;
  border: none;
  color: $turquesa;

  }

      button:focus {
      border: none;
    }

#error_explanation h2 {
  color: $coral;
  font-size: 14px;
}

#error_explanation li {
  color: $turquesa;
  list-style: none;
}

#error_explanation {
  color: $coral;
  font-size: 14px;
}