// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$vino: #280004;
$gris: #383838;
$blanco: #F6EBE9;
$turquesa: #16857A;
$amarilloclaro: #F6FEAA;

article {
  background-color: $amarilloclaro;
  padding: 30px;
  margin: 30px;
  border-radius: 15px;
  h2{
    text-align: center;
    color: $turquesa;
    margin-top: 0;
  }
  p{
    text-align: justify;
    color: $gris;
  }
  .ver{
    color: $turquesa;

  }
}
.glyphicon-pushpin{
  font-size: 20px;
  color: $vino;
}

.btn-add,
.btn-add:focus,
.btn-add:active {
  color: $amarilloclaro;
  background-color: $turquesa;
}

 .btn-add:hover {
  color: $amarilloclaro;
  background-color: $vino ; 
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.title {
  color: $turquesa;
}

  a {
    &:hover{
    text-decoration: none;
    color: $vino;
    }
  }